<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Clothes-store</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/functions.js"></script>
</head>
<body>
<header>
    <div class="logo"><a href="/">Главная</a></div>
    <nav>
        <a href="">Категории</a>
        <a href="/item">Товар</a>
        <a href="/add">Добавить товар</a>
        <a href="/admin">Админка</a>
        <a href="/goods">Все товары</a>
    </nav>
</header>
<main>
    <h1 class="form_caption">Добавить товар</h1>
    <form>
        <% for (let i = 0; i < formNames.length; i++) { %>
            <div class="form_row">
                <label for=<%=formNames[i]%>><%= names[i] %></label>
                <% if (formNames[i] === "category") { %>
                    <select name=<%=formNames[i]%> id=<%=formNames[i]%>>
                        <option selected>Одежда</option>
                        <option>Обувь</option>
                        <option>Аксессуары</option>
                    </select>
                <% } else { %>
                    <input name=<%=formNames[i]%> id=<%=formNames[i]%> type=<%=types[i]%>>
                <% } %>
            </div>
        <% } %>
        <button type="submit">Добавить</button>
    </form>
    <script src="/addProduct.js"></script>
</main>
</body>
</html>
